** 1. Imports**

In [1]:
# generic import of math module
import math
math.sqrt(25)

5.0

In [2]:
# import just a function
from math import sqrt
sqrt(25)

5.0

In [3]:
# import multiple functions at once
from math import cos, floor

In [4]:
# import all functions from the module (generally discouraged)
from csv import *

In [5]:
# define an alias
import datetime as dt

In [6]:
# show all functions in the math module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

------------------------------------------------------------

** 2. Data Types **

Determine the type of an object

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [11]:
type(True)

bool

In [12]:
type(None)

NoneType

Check if an object is of a given type

In [13]:
isinstance(2.0, int)

False

In [14]:
isinstance(2.0, (int, float))

True

Convert an object to a given type:

In [15]:
float(2)

2.0

In [16]:
int(2.9)

2

In [17]:
str(2.9)

'2.9'

Zero, None and Empty containers are converted to False

In [18]:
bool(0)

False

In [20]:
bool(None)

False

In [21]:
bool('') # empty string

False

In [22]:
bool([]) # empty list

False

In [23]:
bool({}) # empty directory

False

Non-empty containers and non-zeros are converted to True

In [24]:
bool(2)

True

In [25]:
bool('two')

True

In [27]:
bool([2])

True

** 3. Math **

In [28]:
10 + 4

14

In [29]:
10 - 4

6

In [30]:
10 * 4

40

In [31]:
10 ** 4

10000

In [32]:
5 % 4

1

In [33]:
# Python 2: retunrs 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2.5

In [34]:
10 / float(4)

2.5

In [35]:
# force '/' in Python 2 to perform 'true division' (not required in Python 3)
from __future__ import division

In [36]:
10 / 4 # true division

2.5

In [37]:
10 // 4 # floor division

2

** 4. Comparisons and Boolean Operations **

Assignment statement:

In [38]:
x = 5

Comparisons:

In [39]:
x > 3

True

In [40]:
x >= 3

True

In [42]:
x != 3

True

In [43]:
x == 5

True

Boolean Operations:

In [44]:
5 > 3 and 6 > 3

True

In [45]:
5 > 3 or 5 < 3

True

In [46]:
not False

True

In [49]:
False or not False and True # evaluation order is not, and, or

True

** 5. Conditional Statements **

In [52]:
# if statement
if x > 0:
    print('positive')

positive

In [53]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [54]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [55]:
# single-line if statements (discouraged)
if x > 0: print('positive')

positive

In [56]:
# single-line if/else statement -ternary operator
'positive' if x > 0 else 'zero or negative'

'positive'

** 6. Lists **

Properties: ordered, iterable, mutable and can contain multiple datatypes

In [57]:
# create an empty list - two ways
empty_list = []
empty_list = list()

In [58]:
# create a list
simpsons = ['homer', 'marge', 'bart']

Examin the list:

In [59]:
# print 0th element:
simpsons[0]

'homer'

In [60]:
len(simpsons)

3

Modify a list (does not return the list):

In [63]:
# append elements to the end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa', 'lisa']

In [64]:
simpsons.pop()

'lisa'

In [65]:
simpsons

['homer', 'marge', 'bart', 'lisa']

In [67]:
# append multiple elements to the end
simpsons.extend(['itchy', 'scratchy'])

In [68]:
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [69]:
# search for the first instance and remove it
simpsons.remove('bart')
simpsons

['homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [70]:
# insert element at the 0th index (shifts everythign right)
simpsons.insert(0, 'maggie')

In [71]:
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [73]:
# remove the element at 0th index and return it
simpsons.pop(0)

'maggie'

In [74]:
simpsons.append('scratchy')

In [75]:
simpsons

['homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [76]:
# remove the element at 0th index (does not return)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [77]:
# replace the 0th element
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [78]:
# concatenate lists (slower than the extend method)
neighbors = simpsons + ['ned', 'rod', 'tod']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'tod']

Fine elements in the list:

In [79]:
# count the number of instances
simpsons.count('lisa')

1

In [80]:
# return the index of first occurance
simpsons.index('itchy')

2

List slicing:

In [81]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [82]:
# element 0
weekdays[0]

'mon'

In [83]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [84]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [85]:
# element 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [86]:
# last element
weekdays[-1]

'fri'

In [87]:
# every second element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [88]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [89]:
# alternate method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

Sort a list in place (modifies but does not return the list):

In [90]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [91]:
# sort in reverse
simpsons.sort(reverse = True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [93]:
# sort by a key
simpsons.sort(key=len)
simpsons

['lisa', 'itchy', 'krusty', 'scratchy']

Return a sorted list (but does not modify the original list)

In [94]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [95]:
sorted(simpsons, reverse = True)

['scratchy', 'lisa', 'krusty', 'itchy']

In [96]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

Insert into an already sorted list and keep it sorted

In [97]:
num = [10, 20, 30, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 30, 40, 50]

Object reference and copies:

In [99]:
# create a second reference to the same list
same_num = num

In [100]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 30, 40, 50]
[0, 20, 30, 30, 40, 50]

In [101]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

Examin Objects:

In [103]:
num is same_num # checks whether they are the same objects

True

In [104]:
num is new_num

False

In [105]:
num == same_num # checks whether they have the same contents

True

In [106]:
num == new_num

True

** 7. Tuples **

Properties: ordered, iterable, immutable, can contain multiple datatypes
like lists, but they dont change size

In [109]:
# create a tuple directly
digits = (0, 1, 'two')
digits

(0, 1, 'two')

In [108]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])
digits

(0, 1, 'two')

In [112]:
# trailing comma is required to indicate that it's a tuple
zero = (0,)
zero

(0,)

Examin a tuple

In [114]:
digits[2]

'two'

In [115]:
len(digits)

3

In [117]:
# counts the number of instances of that value
digits.count(0)

1

In [118]:
# returns the index of the first instance of that value
digits.index(1)

1

Modify a tuple

In [119]:
# elements of a tuple cannot be modified. This would throw an error
digits[2] = 2

TypeError: 'tuple' object does not support item assignment

In [120]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

Other tuple operations:

In [121]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 3

(3, 4, 3, 4, 3, 4)

In [122]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens) # sort by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [123]:
# tuple unpacking
bart = ('male', 10, 'simpsons') # create a tuple
(sex, age, surname) = bart # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpsons

** 8. Strings **

Properties: iterable, immutable

In [124]:
# convert another datatype into string
s = str(42)
s

'42'

In [125]:
# create a string directly
s = 'I like you'

Examin a string:

In [126]:
s[0]

'I'

In [127]:
len(s)

10

String slicing is like list slicing:

In [128]:
s[:6]

'I like'

In [130]:
s[7:]

'you'

In [131]:
s[-1]

'u'

basic string methods (do not modify the original string):

In [132]:
s.lower()

'i like you'

In [133]:
s.upper()

'I LIKE YOU'

In [134]:
s.startswith('I')

True

In [136]:
s.endswith('you')

True

In [137]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [139]:
# returns the index of first occurrence, but doesn't support regex
s.find('like')

2

In [140]:
# returns -1 since not found
s.find('hate')

-1

In [141]:
# replace all instances of 'like' with 'love'
s.replace('like','love')

'I love you'

Split a string:

In [142]:
# split a string into a list of substrings seperated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [143]:
# equivalent since space is the default delimiter
s.split()

['I', 'like', 'you']

In [144]:
s2 = 'a, an, the'
s2.split(', ')

['a', 'an', 'the']

Join or cancatenate strings:

In [145]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [146]:
# concatenate strings
s3 = 'The meaning of life is'
s4='42'
s3 + ' ' + s4

'The meaning of life is 42'

Remove whitespaces from the start to end of a string:

In [147]:
s5 = '     ham and cheese     '
s5.strip()

'ham and cheese'

String substitution

In [148]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [149]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [151]:
# new way (using named arguments)
'raining {arg2} and {arg1}'.format(arg1='dogs', arg2='cats')

'raining cats and dogs'

String formatting

In [152]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

Normal string vs raw string:

In [153]:
# normal string allows for escaped characters
print('first line\nsecond line')

first line
second line

In [154]:
# raw string treats backslashes as literal characters
print(r'first string\nfirst string')

first string\nfirst string

** 9. Dictionaries ** 

Properties: unordered, iterable, mutable, can contain multiple data types simultaneously

In [156]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [157]:
# create a dictionary (two ways)
family1 = {'dad': 'homer', 'mom': 'marge', 'size': 6}
family2 = dict(dad='homer', mom='marge', size=6)
print(family1)
print(family2)

{'dad': 'homer', 'mom': 'marge', 'size': 6}
{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [158]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

Examin a dictionary:

In [159]:
# pass a key to return its value
family['dad']

'homer'

In [160]:
# return the number of key-value pairs
len(family)

3

In [161]:
# check if key exists in dictionary
'mom' in family

True

In [162]:
# dictionary values are not checked 
'marge' in family

False

In [163]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [164]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [165]:
# returns a list of key-value (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

Modify a dictionary (does not return the dictionary):

In [167]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [168]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [170]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [171]:
# dictionary values can be lists
family['kids'] = ['bart','lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [172]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [173]:
# add multiple entries
family.update({'baby': 'maggie', 'grandpa': 'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

Access values mofe safely with get:

In [174]:
family['mom']

'marge'

In [175]:
# equivalent to dictionary lookup:
family.get('mom')

'marge'

In [176]:
# this would throw an error since the key does not exist
family.['grandma']

SyntaxError: invalid syntax (<ipython-input-176-72af4f0d8e1f>, line 2)

In [178]:
# this would return None if not found
family.get('grandma')

In [179]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

Access a list element within a dictionary:

In [180]:
family['kids'][0]

'bart'

In [182]:
family['kids'].remove('lisa')

In [183]:
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

String substitution using dictionary:

In [186]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

** 10. Sets ** 

Properties: unordered, iterable, mutable, can contain multiple datatypes

In [187]:
# create an empty set
empty_set = set()

In [188]:
# create a set directly
languages = {'python', 'r', 'java'}

In [189]:
# create a set from a list
snakes = set(['cobra', 'python', 'viper'])

Examine a set:

In [190]:
len(languages)

3

In [191]:
'python' in languages

True

Set Operations:

In [192]:
# intersection
languages & snakes

{'python'}

In [193]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [194]:
# set difference
languages - snakes

{'java', 'r'}

In [195]:
snakes - languages

{'cobra', 'viper'}

Modify a set (without returning):

In [196]:
# add a new element
languages.add('sql')

In [197]:
languages

{'java', 'python', 'r', 'sql'}

In [199]:
# try adding an existing element (ignored, no error)
languages.add('r')

In [200]:
# try to remove a non-existing element (this would throw an error)
languages.remove('c')

KeyError: 'c'

In [201]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'java', 'python', 'r', 'sql'}

In [202]:
# remove an element
languages.remove('java')

In [203]:
languages

{'python', 'r', 'sql'}

In [204]:
# remove and return an arbitary element
languages.pop()

'r'

In [205]:
# remove all elements
languages.clear()
languages

set()

In [206]:
# add multiple elements (can also pass a set):
languages.update(['go', 'spark'])

In [207]:
languages

{'go', 'spark'}

Get sorted list of unique elements from a list:

In [209]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

*** 11. Defining Functions ***

Defining functions with no arguments and no return values

In [210]:
def print_text():
    print('this is text')

In [212]:
# call the function
print_text()

this is text

Define a function with one argument and no return value.

In [ ]:
def